<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password </title>
</head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/auth.css">
</head>
<style>
    body{
        background-image: url("../css/1.jpg");
       
       }
       .top 
        {
            text-align: center;
        }
        .center 
        {
            text-align: center;
        }
    </style>   
<body>
    <div class="center">
<form name="change" action="../control/change_password.php" onsubmit="return validateForm()" method="POST" style="display: inline-block;"> 
    <fieldset>
        <legend class="top">Change Password  : </legend>
<br>
        <label for="username">Username : </label><br>
        <input type="text" id="username" name="username" >
       <br>
            </input><br>


        <label for="oldpassword">Current Password : </label><br>
        <input type="text" id="oldpassword" name="oldpassword" >
       
            </input><br>


       <br> <label for="newpassword">New Password : </label><br>
        <input type="password" id="newpassword" name="newpassword" >
    
            </input><br>
      </fieldset> 
      <br>
      <input type="submit" value="Confirm">
      <input type="submit" value="Cancel">
    </form>  
    <script src="../view/js/change_password.js"></script>  
</div>   
</body>
</html>