
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
    background-color: rgb(176, 226, 101);
    font-weight: bolder;
    
}
.top 
 {
     text-align: center;
     font-weight: bolder;
 }
 .center 
 {
     text-align: center;
     background: url(1.jpg);
 }
 
 

 